/* GENERAL */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	min-height: 100vh;
	
}

.container{
	width: 100%;
	background-color: #000;
	height: calc(100vh - 160px);
	overflow: auto;
}
main {
	max-width: 85%;
	margin: 0 auto;
}

footer{
    background-color: #222222;
    height: 100px;
}

header{
	background-color: #000;
	height: 60px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.flex{
    display: flex;
}

/* HEADER  */
.page-view.flex{
    justify-content: flex-end;
    gap: 5px;
    margin-right: 15px;
}
.page-view.flex > .speaker,
.page-view.flex > .maximize{
    background-color: #494948;
    padding: 5px 10px;
    border-radius: 10px;
    line-height: 20px;
    vertical-align: center;
    color: white;
	font-weight: 500;
    cursor: pointer;
}
/* MAIN  */

.card{
    min-width: calc(100% / 7 - 10px);
    height: 130px;
    position: relative;
	cursor: pointer;
}

.card:hover{
	border: 3px solid green;
}
.card img{
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.partecipants.flex{
    padding-top: 40px;
    gap: 10px;
    flex-wrap: wrap
}
.name *{
    color: white;
}
.name{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(34, 34, 34, .7);
    padding: 5px 5px;
}

/* footer */
footer{
    color: white;
    display: flex;
    justify-content: space-between;

    height: 100px;
}
footer > div{
    display: flex;
}
.icon{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.endbutton{
	text-align: center;
	line-height: 100px;
	background-color: rgba(5, 5, 5, .5);
	padding: 0 10px;
	cursor: pointer;
}

.endbutton:hover{
	background-color: red;
}

footer div i {
	font-size: 28px;
	cursor: pointer;
}

footer div i:hover {
	font-size: 30px;
	color: green;
}